[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"
botostubs = "*"

[packages]
pluggy = "*"
boto3 = "*"
awsume = {editable = true,path = "."}
psutil = "*"
colorama = "*"

[scripts]
test = "pytest"
build = "python setup.py sdist"
deploy-test = "twine upload -r test dist/*"
deploy-pypi = "twine upload -r pypi dist/*"
