[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
python-dateutil = "*"
"boto3" = "*"
yapsy = "*"
future = "*"
pylint = "*"
colorama = "*"
