name: Run tests

on:
  push:
    branches:
      - 'releases/**'
      - master
  pull_request:
    branches:
      - 'releases/**'
      - master

jobs:
  test:
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11', '3.12' ]
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv==2018.11.26
      - name: Test
        run: |
          echo "Installing pipenv dependencies"
          PIPENV_NOSPIN=true pipenv install --dev
          pipenv run test
