# ubuntu-latest does not have a release for python3.6 - until a decision is made to deprecate support we need to run tests against ubuntu-20.04

name: Run 3.6 tests

on:
  push:
    branches:
      - 'releases/**'
      - master
  pull_request:
    branches:
      - 'releases/**'
      - master

jobs:
  test:
    strategy:
      matrix:
        python-version: [ '3.6' ]
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv==2018.11.26
      - name: Test
        run: |
          echo "Installing pipenv dependencies"
          PIPENV_NOSPIN=true pipenv install --dev
          pipenv run test
